<html>
  <head>
    <title>{{model.title}}</title>
    {{> partials/metadata.partial.html }}
    {{> partials/fontawesome.partial.html }}
    {{{bundles model.shaman.bundles}}}
  </head>
  <body>
    {{> partials/header.partial.html }}
    <div class="container-fluid top">
      <div class="login-container">
        <i class="fas fa-user fa-5x"></i>
        <form onsubmit="OnClickChangePassword(event)">
          <div class='form-group'>
            <input class="form-control fw" type="text" 
              placeholder="Email Address" name="email" />
          </div>
          <div class='form-group'>
            <input class="form-control fw" type="password" 
              placeholder="Old Password" name="oldPassword" />
          </div>
          <div class='form-group'>
            <input class="form-control fw" type="password" 
              placeholder="New Password" name="newPassword" />
          </div>
          <div class='form-group'>
            <input class="form-control fw" type="password" 
              placeholder="Confirm Password" name="confirmPassword" />
          </div>
          <div class="form-group">
            <button class="primary xl fw">Sign In</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function OnClickChangePassword(event) {
        var email = document.querySelector('input[name="email"]').value;
        var oldPass = document.querySelector('input[name="oldPassword"]').value;
        var newPass = document.querySelector('input[name="newPassword"]').value;
        var confirmPass = document.querySelector('input[name="confirmPassword"]').value;
        SubmitPasswordChange(email, oldPass, newPass, confirmPass);
        event.preventDefault();
        return false;
      }
    </script>
  </body>
</html>