<html>
  <head>
    <title>Form - {{model.name}}</title>
    {{> partials/metadata.partial.html }}
    {{> partials/fontawesome.partial.html }}
    {{{bundles model.shaman.bundles}}}
  </head>
  <body>
    {{> partials/header.partial.html }}
    <input id="form_uuid" type="hidden" value="{{model.uuid}}" />
    <div class="container top">
      <div class="panel">
        <div class="panel-header">
          <div class="row">
            <div class="col-9">
              <div class="header-text">
                {{model.name}}
              </div>
            </div>
            <div class="col-3">
              <div class="header-buttons" style="padding: 15px 20px;">
                <button class="btn btn-secondary" type="button"
                  onclick="onClickSubmitForm()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            {{#each model.inputs}}
              <div class="{{inputSize this.size}}">
                <div class="form-group" style="padding-top: 10px;">
                  <label>{{this.label}}</label>
                  {{#equals this.type 'input'}}
                  <input class="form-control fw" type="text" data-uuid="{{this.uuid}}" />
                  {{else}}
                  <select class="form-control fw" data-uuid="{{this.uuid}}">
                    {{#each this.options}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                  {{/equals}}                    
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{#each model.actions}}
    <input class="form-action" type="hidden" value="{{this}}" />
    {{/each}}
  </body>
</html>