<html>
  <head>
    <title>{{model.title}}</title>
    {{> partials/metadata.partial.html }}
    {{> partials/fontawesome.partial.html }}    
    <%- css %>
    <style>
      @media print {
        button {
          display: none !important;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <div class="factory-logo">
        <img src="https://www.iotshaman.com/images/iotlogowhite.svg" />
      </div>
      <div class="site-name">
        <a href="/">Shaman Factory</a>
      </div>
    </header>
    <div class="container top">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="display-4">Your Form Has Been Submitted!</h1>
            <p class="lead">
              Thank you for taking the time to fill out our form, 
              please print this receipt for your records.
            </p>
            <hr class="my-4">
            <p>Tracking ID: <%= form.uuid %></p>
            <button class="btn btn-primary btn-lg" onclick="window.print()">
              Print Receipt
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>