/* COLORS */
.bg-custom-secondary {
  background-color: #4e4e4e !important;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  z-index: 99;
  height: 100%;
  width: 300px;
}
.sidebar .sidebar-header {
  padding: 20px;
  font-size: 1.5em;
}
.sidebar .sidebar-header .fa-times {
  float: right;
  padding: 5px;
  cursor: pointer;
}
.sidebar .nav .fa-li {
  left: -1.5em;
  padding: 5px;
  font-size: 1.5em;
}

/* PANEL */
.panel {
  border: 1px solid #333;
  margin-bottom: 35px;
}
.panel .panel-header {
  background: #333333;
  color: white;
  font-size: 1.4em;
}
.panel .panel-header .header-text {
  display: inline-block;
  padding: 20px 10px;
}
.panel .panel-header .header-buttons {
  float: right;
  padding: 10px 10px;
}
.panel .panel-header .header-buttons .dropdown {
  padding: 5px;
}
.panel .panel-body {
  background: white;
  padding: 20px 15px;
}

/* FORMS */
.form-group label {
  font-weight: bold;
}
.form-group textarea {
  min-height: 400px;
}

/* BOOTSTRAP ANIMATIONS */
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}