/* COLORS */
.bg-custom-secondary {
  background-color: #4e4e4e !important;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  z-index: 99;
  height: 100%;
  width: 300px;
}
.sidebar .sidebar-header {
  padding: 20px;
  font-size: 1.5em;
}
.sidebar .sidebar-header .fa-times {
  float: right;
  padding: 5px;
  cursor: pointer;
}
.sidebar .nav .fa-li {
  left: -1.5em;
  padding: 5px;
  font-size: 1.5em;
}

/* FORMS */
.form-group label {
  font-weight: bold;
}
.form-group textarea {
  min-height: 400px;
}

/* BOOTSTRAP ANIMATIONS */
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}